{% load leaflet_tags %}
<head>
{% leaflet_js %}

{% leaflet_css %}
</head>

<div id="map"> {% leaflet_map "yourmap" %} </div>

<script>
var map = L.map('map').setView([-4.74342, -39.50487], 13);

L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
}).addTo(map);

var circle = L.circle([-3.74342, -38.50487], {
    color: 'red',
    fillColor: '#f03',
    fillOpacity: 0.5,
    radius: 500
}).addTo(map);

</script>

{% include 'leaflet/js.html' %}


<style>   

  #map{
    height: 300px;
    width: 600px;
    border-radius: 10px;    
  }

</style>
